@tailwind components;
@tailwind utilities;

@import './tokens.css';

@import 'tailwindcss';

@theme {
  --color-heading: var(--color-astral-600);

  --color-background: var(--color-white);

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  --width-container: var(--screen-xl);

  --animation-float: float 10s ease-in-out infinite;
}

@layer base {
  [data-theme='blue'] {
    --color-heading: var(--color-astral-700);
    --color-background: var(--color-astral-100);
  }
}

.container-spacing {
  @apply px-8 py-24 lg:px-16 lg:py-24;
}

.container-wrapper {
  @apply mx-auto max-w-[var(--width-container)];
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.input {
  @apply bg-input-primary-background border-input-primary-background hover:bg-input-primary-background-hover focus:bg-input-primary-background-hover focus:ring-input-primary-muted transition-all duration-300 cursor-text invalid:ring-orange-500 caret-input-primary-foreground placeholder:text-input-primary-foreground text-input-primary-foreground font-medium text-lg rounded-lg py-6 px-4;
}

.input-error {
  @apply ring-orange-500 ring-2 ring-offset-2 bg-orange-50 hover:bg-orange-100 focus:bg-orange-100 focus:ring-orange-400;
}

.input-label {
  @apply text-input-primary-label text-sm font-medium;
}

.input-select-content {
  @apply bg-input-primary-background/80 border-input-primary-background border-t-0 rounded-b-lg rounded-t-none shadow-lg backdrop-blur-sm;

  .input-select-item {
    @apply text-input-primary-foreground text-sm font-medium py-4 px-4 hover:bg-input-primary-background-hover/80 transition-all duration-300 cursor-pointer;
  }
}

.btn {
  @apply bg-jaffa-400 text-white px-4 py-2 rounded-md flex items-center gap-4 hover:gap-6 hover:bg-jaffa-500 transition-all duration-300 w-fit;
}

.rich-text {
  @apply text-text-secondary;

  h2 {
    @apply text-3xl font-bold text-text-heading pb-4;

    &:not(:first-of-type) {
      @apply pt-8;
    }
  }

  h3 {
    @apply text-2xl font-semibold text-text-heading pb-4 pt-8;
  }

  h4 {
    @apply text-xl font-medium text-text-heading pb-4;
  }

  p {
    @apply text-base text-text-secondary leading-normal pb-4;
  }

  strong {
    @apply text-text-accent;
  }

  a {
    @apply text-cta-primary hover:text-cta-primary/80 transition-colors duration-300 underline;
  }

  ul {
    @apply !list-disc !list-outside pl-10;

    li {
      @apply pb-4;

      &:has(ul, ol) {
        @apply mb-0 !list-none;
      }

      ul,
      ol {
        li {
          @apply pb-2;
        }
      }
    }
  }

  ol {
    @apply !list-decimal !list-outside pl-10;

    li {
      @apply pb-4;

      &:has(ul, ol) {
        @apply mb-0 !list-none;
      }

      ul,
      ol {
        li {
          @apply pb-2;
        }
      }
    }
  }

  ul li::marker,
  ol li::marker {
    @apply !text-astral-700 !text-sm;
  }
}
