#itTourWidget#itTourWidget {
  .fd-b {
    background-color: var(--color-jaffa-400) !important;
    .fd-label {
      color: var(--color-jaffa-50) !important;
      font-weight: 600 !important;
    }
  }

  .fd-input_wrap,
  .fd-date_pick__wrap,
  .fd-select_wrap {
    input,
    select {
      color: var(--color-jaffa-900) !important;
      font-weight: 800 !important;
      border: none !important;

      &::placeholder {
        color: var(--color-jaffa-50) !important;
      }

      .fd-select_arrow::after {
        border-color: var(--color-jaffa-50) !important;
      }
    }
  }

  .fd-find {
    background-color: var(--color-jaffa-900) !important;
    color: var(--color-jaffa-50) !important;
  }
}